.App {
  text-align: center;
}

.body {
  background-color: #db8585;
  width: 500px;
  height: auto;
  position:fixed;
  left: 30%;
  top: 25%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  align-items: center;
  text-align: center;

}
