.App {
  text-align: center;
}

.body {
  background-color: #db8585;
  width: 100%;
  height: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  align-items: center;
  text-align: center;

}
